body {
	margin: 0;
	background: #6e93d6;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}

/* Calculator */
.calculator {
	width: 420px;
	border-radius: 35px;
	padding: 35px;
	background: #111b1e;
	animation-name: appear;
	animation-duration: 1s;
}

@keyframes appear {
	from {
		opacity: 0;
		transform: translate(0, -100%);
	}

	to {
		opacity: 1;
		transform: translate(0, 0%);
	}
}

.calculator__buttons,
.calculator__screen {
	width: 100%;
	border-radius: 35px;
	border: 3px solid #2f4c58;
}

.calculator__screen {
	height: 150px;
	margin-bottom: 20px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.calculator__expression,
.calculator__result {
	color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
}

.calculator__expression {
	height: 30px;
	font-size: 22px;
	background: transparent;
	border: none;
	padding: 0;
}

.calculator__result {
	height: 50px;
	font-size: 42px;
}

.calculator__buttons {
	height: 420px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.calculator__row {
	display: flex;
	justify-content: space-between;
}

.calculator__button {
	cursor: pointer;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2f4c58;
	color: #fff;
	transition: 0.3s ease-in;
}

.calculator__button:active {
	opacity: 0.4;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.calculator__button:focus {
	border: 2px solid #fff;
}

.calculator__button_color_2 {
	background: #6e93d6;
}

.calculator__button_color_3 {
	background: #63a583;
}

.calculator__button--3b {
	width: calc(70px * 3 + 8px * 2);
	border-radius: 70px;
}

.calculator__button--2b {
	width: calc(70px * 2 + 8px);
	border-radius: 70px;
}

/* Adaptive */
@media (max-width: 460px) {
	.calculator {
		width: calc(100vw - 40px);
		padding: calc((100vw - 40px)/12);
	}

	calculator__screen {
		padding: 15px;
		height: calc((100vw - 40px)/3);
	}

	.calculator__expression {
		height: calc((100vw - 40px)/12);
		font-size: 5vw;
	}

	.calculator__result {
		font-size: calc((100vw - 40px)/10);
		height: calc((100vw - 40px)/6.5);
	}

	.calculator__buttons {
		height: calc(100vw - 40px);
		padding: calc((100vw - 40px)/26);
	}

	.calculator__button {
		width: calc((100vw - 40px)/6);
		height: calc((100vw - 40px)/6);
		font-size: calc((100vw - 40px)/12);
	}

	.calculator__button--3b {
		width: calc((100vw - 40px)/2);
		border-radius: calc((100vw - 40px)/6);
	}

	.calculator__button--2b {
		width: calc((100vw - 40px)/3);
		border-radius: calc((100vw - 40px)/6);
	}
}

@media (min-width: 1024px) {
	.calculator__button:hover {
		background: #477385;
	}

	.calculator__button_color_2:hover {
		background: #8fb6ff;
	}

	.calculator__button_color_3:hover {
		background: #79c29c;
	}
}